body{
    height: 100%;
    margin: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9009a+0,ad1283+50,3f59ff+100 */
    background: rgb(201,0,154); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(201,0,154,1) 0%, rgba(173,18,131,1) 50%, rgba(63,89,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(201,0,154,1) 0%,rgba(173,18,131,1) 50%,rgba(63,89,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(201,0,154,1) 0%,rgba(173,18,131,1) 50%,rgba(63,89,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9009a', endColorstr='#3f59ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Lexend Peta, Arial, courier, verdana;
    font-size: 16px;
}

nav{
    height: fit-content;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
}

.navcontrols{
    max-width: 350px;
}

input[type="search"]{
    border-radius: 6px;
    height: 25px;
    width: 250px;
    border-style: none;
    outline: none;
}

input.search{
    border-radius: 6px;
    height: 25px;
    vertical-align: top;
    margin: 0 0 0 -36px;
    border-width: 0px;
}

form.search{
    display: flex;
    flex-direction: row;
}

label.navlabel{
    color: aliceblue;
    font-size: 28px;
}

i.navicon{
    font-size: 40px;
    margin: 3px;
    color: aliceblue;
}

h4{
    color: aliceblue;
    width: 200px;
    text-align: center;
    padding: 10px;  
    margin: 0px 0 0 -25px;  
    font-size: 18px;
    border-radius: 15px;
}

h4:hover{
    background-color:rgba(0,0,0,0.3);
    animation: infinite;
}
.sidenav{
    margin: 3% 0 0 -1%;
    display: flex;
    flex-direction: column;
}

.maincontainer{
    display: flex;
    flex-direction: row;
}

.userdiv{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}
.userdiv:hover{
    background-color:rgba(0,0,0,0.3);
    animation: infinite;
    border-radius:15px
}

@media only screen and (max-width:600px){
    input[type="search"]{
        width: 130px;
    }
    label.navlabel{
        font-size: 14px;
        margin: 5px;
    }
    nav{
        padding: 9px 5px 0 5px;
    }
    i.navicon{
        font-size:30px;
    }
    .userdiv{
        font-size: 11px;
    }
    h4{
        font-size:10px;
    }
    .sidenav{
        display: flex;
        flex-direction: row;
    }
    .maincontainer{
        display: flex;
        flex-direction: column;
    }
}

.hdiv{
    display: flex;
    flex-direction: row;
 }

.vdiv{
    display: flex;
    flex-direction: column;
}

h2,h3{
    color:aliceblue;
    text-align: center;
    margin:0px;
    padding:10px;
}

